<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <h1>Header Section</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">로그아웃</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/posts/new"><button>글쓰기</button></a>
                </li>
            </ul>
        </nav>
    </header>
</div>